[user]

	email = :)@gmail.com
	name = Rodrigo Paiva
[alias]
	co = checkout
	cm = commit
	st = status
	br = branch
	#hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative